.impares {
    background-color: pink;
    font-family: Verdana, sans-serif, DejaVu Sans;
}

#div1 {
    color: blue;
    font-size: 36px;
}

#div1+p {

    font-size: 24px;
}

#div2 {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}